{#
/**
 * @file
 * The views infinite scroll pager template.
 */
#}
<div class="container">
    {% if items.next %}
    <ul{{ attributes }}>
        <li class="pager__item">
            <a class="pager-lnk" href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next">{{ options.button_text }}</a>
        </li>
    </ul>
    <p class="pager-progress">You've viewed <span class="viewed"></span> of <span class="total"></span> {{ item_name }}.</p>
    {% endif %}
</div>
